<nav class="p-4 flex items-center mb-4 shadow-lg">
  <div class="container mx-auto flex justify-between items-center">
    <a class="text-3xl font-medium bg-linear-50 from-ctp-mauve to-ctp-lavender inline-block text-transparent bg-clip-text"
      routerLink="['/']">
      Engineering Benchmarks
    </a>
    <a class="text-xl font-medium text-ctp-text hover:text-ctp-lavender hover:underline hover:underline-offset-4"
      routerLink="['/']">
      Teams
    </a>
  </div>
</nav>
<router-outlet></router-outlet>
